<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework</title>
</head>
<body>
<h1>Author List</h1>
<table>
    <tr>
        <td>ID</td>
        <td>Firstname</td>
        <td>Lastname</td>
    </tr>
    <tr th:each = "author:${authors}">
        <td th:text="${author.id}">${author.id}</td>
        <td th:text="${author.firstName}">${author.firstName}</td>
        <td th:text="${author.lastName}">${autho.lastName}</td>
    </tr>

</table>
</body>
</html>